# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

Server_Essentials/
gradle/
Rest/pkg
Rest/src

Bot/config.json
Bot/target